@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');

@font-face {
    font-family: 'lovelo';
    src: url('../fonts/Lovelo Black.otf');
}

@font-face {
    font-family: 'open sauce';
    src: url(../fonts/OpenSauceOne-Black.ttf);
}

* {
    padding: 0%;
    margin: 0%;
}

body {
    background-image: url(../img/backgroundCoffeWhite.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0px 0px 0px 0px;
}

#brand {
    color: white;
    font-family: 'open sauce';
    font-size: 25px;
    margin: 14px 0px 0px 20px;
}

#brandLink {
    color: white;
    text-decoration: none;
}

#links {
    font-size: 17.5px;
}

#linkAboutUs {
    font-family: 'lovelo';
    text-decoration: none;
    color: black;
    margin: 0px 313px 0px 0px;
}

#linkProducts {
    font-family: 'lovelo';
    text-decoration: none;
    color: black;
    margin: 0px 313px 0px 0px;
}

#linkOurClub {
    font-family: 'lovelo';
    text-decoration: none;
    color: black;
    margin: 0px 100px 0px 0px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 75px 0px 0px 200px;
}

#title {
    font-size: 31px;
    font-family: 'lovelo';
    margin: 0px 125px 18px 0px;
}

#markedWord {
    color: white;
}

#content {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    line-height: 1.8;
    font-size: 16px;
    margin: 40px 120px 20px 0px;
}

#buttons button {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border: none;
    background-color: black;
    color: white;
    border-radius: 40px;
    width: 170px;
    height: 50px;
    margin: 40px 110px 0px 50px;
}