@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
    font-family: 'lovelo';
    src: url('../fonts/Lovelo Black.otf');
}

@font-face {
    font-family: 'open sauce';
    src: url(../fonts/OpenSauceOne-Black.ttf);
}

* {
    padding: 0%;
    margin: 0%;
}

body {
    background-image: url(../img/backgroundBlack.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#header {
    display: flex;
    margin: 20px 0px 0px 0px;
}

.linksHeader {
    font-family: 'lovelo';
    text-decoration: none;
    color: black;
    margin: 0px 230px 0px 0px;
}


#brand {
    color:#FFF022;
    font-family: 'open sauce';
    margin: 0px 400px 0px 25px;
    font-size: 15px;
}

.linksHeader {
    font-family: 'lovelo';
    text-decoration: none;
    color: #FFF022;
}

main {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 0px 10px;
}

#title {
    color: white;
    font-size: 31px;
    font-family: 'lovelo';
    margin: 0px 100px 18px 0px;
}

#markedWord {
    color:#FFF022;
}

#content {
    color: white;
    font-family: "Roboto Mono", monospace;
    line-height: 1.8;
    font-size: 15px;
    margin: 40px 100px 20px 0px;
}

#buttons button {
    font-family: "Roboto Mono", monospace;
    border: none;
    background-color:#FFF022;
    color: white;
    border-radius: 40px;
    width: 170px;
    height: 50px;
    margin: 40px 93px 0px 0px;
}