@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&display=swap');

@font-face {
    font-family: 'lovelo';
    src: url('../fonts/Lovelo Black.otf');
}

@font-face {
    font-family: 'open sauce';
    src: url(../fonts/OpenSauceOne-Black.ttf);
}

* {
    padding: 0%;
    margin: 0%;
}

body {
    background-image: url(../img/backgroundWhite.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0px 0px 0px 0px;
}

#brand {
    color: white;
    font-family: 'open sauce';
    font-size: 25px;
    margin: 14px 0px 0px 20px;
}

#brandLink {
    color: white;
    text-decoration: none;
}

#links {
    font-size: 17.5px;
}

#linkAboutUs {
    font-family: 'lovelo';
    text-decoration: none;
    color: black;
    margin: 0px 313px 0px 0px;
}

#linkProducts {
    font-family: 'lovelo';
    text-decoration: none;
    color: black;
    margin: 0px 313px 0px 0px;
}

#linkOurClub {
    font-family: 'lovelo';
    text-decoration: none;
    color: black;
    margin: 0px 100px 0px 0px;
}

.container {
    margin: 70px 40px 0px 40px;
    display: flex;
}

.title {
    font-size: 35px;
    font-family: 'lovelo';
    margin: 0px 125px 18px 0px;
}

#markedWord {
    color: white;
}

.content {
    font-family: 'lovelo';
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    line-height: 1.8;
    font-size: 16px;
    margin: 40px 120px 20px 0px;
}

#place {
    border-radius: 40px;
    width: 820px;
    height: 380px;
    margin-top: 65px;
}

.container2 {
    display: flex;
    align-items: center;
    margin-top: 200px;
}

#blend {
    border-radius: 40px;
    width: 820px;
    height: 415px;
    margin: 150px 100px 0px 40px;
}

#content2 {
    font-family: 'lovelo';
}

#title2 {
    font-size: 35px;
}

.subTitle {
    margin: 60px 0px 20px 0px;
    font-size:  24px;
}

.paragrafo {
    font-size: 16px;
}

footer {
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    color: white;
    margin-top: 220px;
}

.footer_link {
    text-decoration: none;
}

#footer_content {
    border-radius: 50px 50px 0px 0px;
    background-color:#000000;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 60px 70px;
}

#footer_contacts h1 {
    margin-bottom: 15px;
    font-size: 25px;
    font-family: 'open sauce';
}

#footer_social_media {
    display: flex;
    gap: 40px;
    margin-top: 30px;
}

#footer_social_media .footer_link {
    height: 50px;
    width: 50px;
    color: white;
}

#footer_social_media .footer_link i {
    font-size: 20px;
}

.footer-list {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
}

.footer-list .footer_link{
    color: #454346;
    font-weight: 500;
}

#footer_subscribe {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#footer_subscribe p{
    color: #454346;
    font-weight: 500;
} 

#input_group {
    display: flex;
    align-items: center;
    border-radius: 20px;
}

#input_group input {
    background-color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 20px 0px 0px 20px;
}

#input_group input:focus,
#input_group input:active {
    outline: none;
}

#input_group button {
    border: none;
    padding: 0px 25px;
    font-size: 22.5px;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    background-color: #454346;
}

#copyright {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 5px;
}