/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');

/* Defining custom fonts */
@font-face {
    font-family: 'lovelo';
    src: url('../assets/fonts/Lovelo\ Black.otf');
}

@font-face {
    font-family: 'open sauce';
    src: url(../assets/fonts/OpenSauceOne-Black.ttf);
}

:root {
    --color-one: #E6E6E6;
    --color-two: #181717;
    --color-three: white;
    --box-shadow: 3px 3px 11px 5px rgb(13 55 54 / 15%);
}

/* General Customization */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-margin-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

/* Header styles */
header {
    transition: transform .5s;
}

nav {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px;
    transition: 0.5s linear;
}

.brand {
    font-family: 'open sauce';
    color: var(--color-three);
    font-size: 1.6rem;
}

#marked-word {
    color: var(--color-three);
}

.header-items {
    display: flex;
}

.header-items a {
    padding: 8px 17px;
    margin: 0 15px;
    color: var(--color-two);
    font-size: 1.2rem;
    text-transform: uppercase;
    position: relative;
    font-weight: 500;
    font-family:'lovelo' ;
}

.header-items a::after {
    content: " ";
    width: 0%;
    height: 3px;
    background-color: var(--color-two);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.8s ease-in-out;
    border-radius: 15px;
}

.header-items a:hover::after {
    width: 100%;
}

nav i {
    font-size: 22px;
    z-index: 1000;
    column-gap: 0.8rem;
    cursor: pointer;
    display: flex;
    color: var(--color-two);
}

.header-icons .fa-solid {
    color: var(--color-two);
}

#header-menu-icon {
    color: #181717;
    font-size: 24px;
    z-index: 100001;
    cursor: pointer;
    display: none;
}

/* footer customization */
footer {
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    color: var(--color-one);
    margin-top: 200px;
}

.footer-link {
    text-decoration: none;
}

#footer-content {
    border-radius: 50px 50px 0px 0px;
    background-color: var(--color-two);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer-contacts h1 {
    margin-bottom: 0.75rem;
    font-size: 25px;
    font-family: 'open sauce';
}

#footer-social-media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer-social-media .footer-link {
    height: 2.5rem;
    width: 2.5rem;
    color: white;
}

#footer-social-media .footer-link i {
    font-size: 20px;
}

.footer-list {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: #454346;
    font-weight: 500;
}

#footer-subscribe {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer-subscribe p {
    color: #454346;
    font-weight: 500;
}

#input-group {
    display: flex;
    align-items: center;
    border-radius: 20px;
}

#input-group input {
    background-color: var(--color-one);
    border: none;
    padding: 0.75rem;
    width: 100%;
    border-radius: 20px 0px 0px 20px;
}

#input-group input:focus,
#input-group input:active {
    outline: none;
}

#input-group button {
    border: none;
    padding: 0px 1.25rem;
    font-size: 22.5px;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    background-color: #454346;
    cursor: pointer;
}

#copyright {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    background-color: var(--color-two);
    padding: 1.5rem;
}