/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');

/* Defining custom fonts */
@font-face {
    font-family: 'lovelo';
    src: url('../assets/fonts/Lovelo\ Black.otf');
}

@font-face {
    font-family: 'open sauce';
    src: url(../assets/fonts/OpenSauceOne-Black.ttf);
}

/* Defining variables */
:root {
    --color-one: #E6E6E6;
    --color-two: #181717;
    --color-three: white;
    --box-shadow: 2px 2px 10px 4px rgb(13 55 54 / 15%);
}

/* General Customization */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-margin-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

body {
    color: var(--color-two);
}

/* Header customization */
nav {
    position:absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px;
    transition: 0.5s linear;
}

.brand {
    font-family: 'open sauce';
    color: var(--color-three);
    font-size: 1.6rem;
}

#marked-word {
    color: var(--color-three);
}

.header-items {
    display: flex;
}

.header-items a {
    padding: 8px 17px;
    margin: 0 15px;
    color: var(--color-two);
    font-size: 1.2rem;
    text-transform: uppercase;
    position: relative;
    font-weight: 500;
    font-family:'lovelo' ;
}

.header-items a::after {
    content: " ";
    width: 0%;
    height: 3px;
    background-color: var(--color-two);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.8s ease-in-out;
    border-radius: 15px;
}

.header-items a:hover::after {
    width: 100%;
}

.header-icons {
    font-size: 22px;
    z-index: 1000;
    column-gap: 0.8rem;
    cursor: pointer;
    display: flex;
}

nav i {
    font-size: 22px;
    z-index: 1000;
    column-gap: 0.8rem;
    cursor: pointer;
    display: flex;
    color: var(--color-two);
}

.header-icons .fa-solid {
    color: var(--color-two);
}

#header-menu-icon {
    color: #181717;
    font-size: 24px;
    z-index: 100001;
    cursor: pointer;
    display: none;
}

/* Home customization*/
section {
    padding: 50px 100px;
}

.popup {
    width: 80%; 
    height: auto; 
    max-width: 500px; 
    max-height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 999;
    background-color: white;
    border: solid 3px var(--color-two);
    border-radius: 20px;
    display: none;
}

#modal {
    display: flex;
    flex-direction: column;
}

#modal h2 {
    font-family: 'lovelo';
    margin-bottom: 20px;
}

#modal p {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;
}

.active {
    display: flex;
}

.active #modal {
    animation: modal .4s;
}

#btn-modal {
    display: flex;
}

#btn-modal button {
    cursor: pointer;
    border: none;
    background-color: var(--color-two);
    color: var(--color-one);
    border-radius: 40px;
    padding: 10px 30px;
    font-weight: 500;
    font-family: 'lovelo';
    margin: 0 100px 0 10px;
    transition: 1s;
    border: 3px solid var(--color-two);
}

#btn-modal button:hover {
    background-color: var(--color-three);
    color: var(--color-two);
    border: 3px solid var(--color-two);
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    } to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.home {
    width: 100%;
    min-height: 100vh;
    background: url(../assets/img/backgroundCoffeWhite.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    gap: 1.5rem;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
}

.home-text h1,
.home-text p,
.buttons {
    margin: 30px 0;
}

.home-text h1 {
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'lovelo';
}

.home-text p {
    font-size: 0.938rem;
    margin: 0.5rem 0.7rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.1rem;
}

.buttons button {
    cursor: pointer;
    border: none;
    background-color: var(--color-two);
    color: var(--color-one);
    border-radius: 40px;
    padding: 15px 50px;
    font-weight: 500;
    font-family: 'lovelo';
    margin: 0 100px 0 10px;
    transition: 1s;
    border: 3px solid var(--color-two);
}

.buttons button:hover {
    background-color: var(--color-three);
    color: var(--color-two);
    border: 3px solid var(--color-two);
}

.divider {
    width: 100%;
    height: 3px;
    background-color: var(--color-two);
}

/* About customization */
.about {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1.5rem;
    margin: 100px 0;
}

.about-img img {
    border-radius: 0.5rem;
    width: 550px;
    height: 350px;
    border: 3px solid var(--color-two);
}

.about-text h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'lovelo';
}

.about-text p {
    font-size: 1rem;
    margin: 0.5rem 0 1.1rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.products {
    margin: 50px 0;
}

/* Products customization */
.heading {
    text-align: center;
}

.heading h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: 'lovelo';
}

.listProduct .item img {
    filter: drop-shadow(0 10px 20px #0009);
}

.listProduct {
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    text-align: center;
    margin-top: 5rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.listProduct .item {
    background-color: var(--color-three);
    padding: 25px 50px;
    border-radius: 20px;
    border: 3px solid var(--color-two);
    transition: 0.5s;
}

.listProduct .item:hover {
    padding: 35px 60px;
}

.listProduct .item h2 {
    font-weight: 500;
    font-size: large;
}

.listProduct .item .price {
    letter-spacing: 7px;
    font-size: small;
}

.listProduct .item button {
    background-color: var(--color-two);
    color: var(--color-three);
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: 10px;
    font-family: 'lovelo';
    border: none;
    cursor: pointer;
}

.heading-button {
    text-align: center;
}

.heading-button button{
    cursor: pointer;
    border: none;
    background-color: var(--color-two);
    color: var(--color-one);
    border-radius: 40px;
    padding: 15px 50px;
    font-weight: 500;
    font-family: 'lovelo';
    margin-top: 4rem;
    transition: 1s;
    border: 3px solid var(--color-two);
}

.heading-button button:hover {
    background-color: var(--color-three);
    color: var(--color-two);
    border: 3px solid var(--color-two);
}

/* Customers customization */

.customers {
    margin: 100px 0;
}
.customers-container {
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
}
 
.customers-container .box {
    padding: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    text-align: center;
    border: 3px solid var(--color-two);
    transition: 0.8s;
}

.stars i {
    color: var(--color-two);
}

.customers-container .box p {
    font-size: 0.938rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.customers-container .box h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
    font-family: 'lovelo';
}

.customers-container .box img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.customers-container .box:hover {
    padding: 30px;
}

/* footer customization */
footer {
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    color: var(--color-one);
    margin-top: 200px;
}

.footer-link {
    text-decoration: none;
}

#footer-content {
    border-radius: 50px 50px 0px 0px;
    background-color: var(--color-two);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer-contacts h1 {
    margin-bottom: 0.75rem;
    font-size: 25px;
    font-family: 'open sauce';
}

#footer-social-media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer-social-media .footer-link {
    height: 2.5rem;
    width: 2.5rem;
    color: white;
}

#footer-social-media .footer-link i {
    font-size: 20px;
}

.footer-list {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: #454346;
    font-weight: 500;
}

#footer-subscribe {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer-subscribe p {
    color: #454346;
    font-weight: 500;
}

#input-group {
    display: flex;
    align-items: center;
    border-radius: 20px;
}

#input-group input {
    background-color: var(--color-one);
    border: none;
    padding: 0.75rem;
    width: 100%;
    border-radius: 20px 0px 0px 20px;
}

#input-group input:focus,
#input-group input:active {
    outline: none;
}

#input-group button {
    border: none;
    padding: 0px 1.25rem;
    font-size: 22.5px;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    background-color: #454346;
    cursor: pointer;
}

#copyright {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    background-color: var(--color-two);
    padding: 1.5rem;
}

/* Animation scroll */ 
.about-img,
.about-text h2,
.about-text p,
.about .buttons {
    visibility: hidden;
}

.products .heading,
#item-1,
#item-2,
#item-3,
#item-4,
.heading-button{
    visibility: hidden;
}

.customers .heading,
#box-1,
#box-2,
#box-3{
    visibility: hidden;
}
