/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');

/* Defining custom fonts */
@font-face {
    font-family: 'lovelo';
    src: url('../assets/fonts/Lovelo\ Black.otf');
}

@font-face {
    font-family: 'open sauce';
    src: url(../assets/fonts/OpenSauceOne-Black.ttf);
}

:root {
    --color-one: #E6E6E6;
    --color-two: #181717;
    --color-three: white;
    --box-shadow: 3px 3px 11px 5px rgb(13 55 54 / 15%);
}