/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');

/* Defining custom fonts */
@font-face {
    font-family: 'lovelo';
    src: url('../assets/fonts/Lovelo\ Black.otf');
}

@font-face {
    font-family: 'open sauce';
    src: url(../assets/fonts/OpenSauceOne-Black.ttf);
}

:root {
    --color-one: #E6E6E6;
    --color-two: #181717;
    --color-three: white;
    --box-shadow: 3px 3px 11px 5px rgb(13 55 54 / 15%);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-margin-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

body {
    background-image: url(../assets/img/backgroundWhite.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header styles */
header {
    transition: transform .5s;
}

nav {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px;
    transition: 0.5s linear;
}

.brand {
    font-family: 'open sauce';
    color: var(--color-three);
    font-size: 1.6rem;
}

#marked-word {
    color: var(--color-three);
}

.header-items {
    display: flex;
}

.header-items a {
    padding: 8px 17px;
    margin: 0 15px;
    color: var(--color-two);
    font-size: 1.2rem;
    text-transform: uppercase;
    position: relative;
    font-weight: 500;
    font-family:'lovelo' ;
}

.header-items a::after {
    content: " ";
    width: 0%;
    height: 3px;
    background-color: var(--color-two);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.8s ease-in-out;
    border-radius: 15px;
}

.header-items a:hover::after {
    width: 100%;
}

nav i {
    font-size: 22px;
    z-index: 1000;
    column-gap: 0.8rem;
    cursor: pointer;
    display: flex;
    color: var(--color-two);
}

.header-icons .fa-solid {
    color: var(--color-two);
}

#header-menu-icon {
    color: #181717;
    font-size: 24px;
    z-index: 100001;
    cursor: pointer;
    display: none;
}

section {
    padding: 50px 100px;
}

.heading {
    text-align: center;
    transition: 0.5s;
}

.heading h1 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: 'lovelo';
    margin-bottom: 5px;
}

.heading p {
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.1rem;
}

.listProduct .item img {
    filter: drop-shadow(0 10px 20px #0009);
}

.listProduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    text-align: center;
    margin-top: 5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    transition: 1.5s;
}

.listProduct .item {
    background-color: var(--color-three);
    padding: 20px;
    border-radius: 20px;
    border: 3px solid var(--color-two);
    transition: 0.5s;
}

.listProduct .item h2 {
    font-weight: 500;
    font-size: large;
}

.listProduct .item .price {
    letter-spacing: 7px;
    font-size: small;
}

.listProduct .item button {
    background-color: var(--color-two);
    color: var(--color-three);
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: 10px;
    font-family: 'lovelo';
    border: none;
    cursor: pointer;
    transition: 1s;
    border: 3px solid var(--color-two);
}

.listProduct .item button:hover {
    background-color: var(--color-three);
    color: var(--color-two);
    border: 3px solid var(--color-two);
}
/* Seção dos carrinhos */

body.show-cart .cart-tab{
    inset: 0 0 0 auto;
}

body.show-cart header {
    transform: translateX(-1400px);
}

body.show-cart .heading {
    transform: translateX(-180px);
}

body.show-cart #block {
    transform: translateX(-100px);
}

body.show-cart .contact {
    transform: translateX(-200px);
}

.cart-tab {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    position:static;
    width: 400px;
    position: fixed;
    z-index: 1000;
    background-color: var(--color-two);
    color: var(--color-three);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.cart-tab h1 {
    font-family: 'lovelo';
    text-align: center;
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cart-tab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cart-tab .btn button {
    font-family: 'lovelo';
    background-color:#2C272E;
    color: var(--color-three);
}

.cart-tab .btn .close {
    background-color: var(--color-three);
    color: var(--color-two);
    border-bottom-left-radius: 29px;
}

.cart-tab .list-cart .item img {
    width: 100%;
}

.cart-tab .list-cart .item {
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.list-cart .quantity span {
    display: inline-block;
    width: 25px;
    height: 25px;
    color:var(--color-three);
    cursor: pointer;
}

.list-cart .quantity span:nth-child(2) {
    background-color: transparent;
    color: var(--color-three);
}

.list-cart .item:nth-child(even) {
    background-color:#2C272E;
}

.list-cart {
    overflow: auto;
}

.list-cart::-webkit-scrollbar {
    width: 0;

}

/* Block section styles */
#block {
    margin: 200px 100px 150px 110px;
    padding: 75px 20px 75px 20px;
    border-radius: 20px;
    font-size: 40px;
    background-image: linear-gradient(90deg, #000000, #2C272E);
    color: white;
    font-family: 'lovelo';
    transition: 0.5s;
}

#block-title {
    margin: -30px 0px 0px 20px;
}

#block-button {
    border: none;
    background-color: #A1A271;
    color: white;
    font-family: 'lovelo';
    border-radius: 30px;
    font-size: 20px;
    padding: 17px;
    margin: 35px 0px 0px 20px;
}

#block-img {
    position: absolute;
    margin: -200px 0px 300px 700px;
    width: 300px;
    height: 450px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center; 
    transition: 0.5s;
}

form {
    width: 90%;
    max-width: 800px ;
}

.input-group {
    margin-bottom: 50px;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

input, 
textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 3px solid var(--color-two);
    color: var(--color-two);
    border-radius: 10px;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: var(--color-two);
    transition: 0.2s;
}

.contact button {
    font-family: 'lovelo';
    padding: 10px 0;
    color: var(--color-three);
    background-color: var(--color-two);
    border: 3px solid var(--color-two);
    transition: 1s;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
}

.contact button:hover {
    background-color: var(--color-three);
    color: var(--color-two);
}

textarea:focus~label,
input:focus~label,
input:valid~label {
    top: -35px;
    font-size: 14px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .input-group {
    flex-basis: 48%;
}

footer {
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    color: var(--color-one);
    margin-top: 200px;
}

.footer-link {
    text-decoration: none;
}

#footer-content {
    border-radius: 50px 50px 0px 0px;
    background-color: var(--color-two);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer-contacts h1 {
    margin-bottom: 0.75rem;
    font-size: 25px;
    font-family: 'open sauce';
}

#footer-social-media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer-social-media .footer-link {
    height: 2.5rem;
    width: 2.5rem;
    color: white;
}

#footer-social-media .footer-link i {
    font-size: 20px;
}

.footer-list {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: #454346;
    font-weight: 500;
}

#footer-subscribe {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer-subscribe p {
    color: #454346;
    font-weight: 500;
}

#input-group {
    display: flex;
    align-items: center;
    border-radius: 20px;
}

#input-group input {
    background-color: var(--color-one);
    border: none;
    padding: 0.75rem;
    width: 100%;
    border-radius: 20px 0px 0px 20px;
}

#input-group input:focus,
#input-group input:active {
    outline: none;
}

#input-group button {
    border: none;
    padding: 0px 1.25rem;
    font-size: 22.5px;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    background-color: #454346;
    cursor: pointer;
}

#copyright {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    background-color: var(--color-two);
    padding: 1.5rem;
}

#block {
    visibility:hidden;
}

.products .heading h1,
.products .heading p,
#input-group-1,
#input-group-2,
#input-group-3,
#input-group-4,
.contact button {
    visibility: hidden;
}